@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-open-sans);

  --color-black: var(--foreground);
  --text-xxs: 0.625rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}
